RewriteEngine On
RewriteRule ^([a-z]{2})/(.*)-(\d+).html$ index.php?controller=pjListings&action=pjActionView&language=$1&id=$3 [L,NC]
RewriteRule ^(.*)-(\d+).html$ index.php?controller=pjListings&action=pjActionView&id=$2 [L,NC]